<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <contact>
            <contact>
                <display_grid>1</display_grid>
            </contact>
        </contact>
    </default>
</config>
